nest-js-api/node_modules/**
nest-js-api/docker-compose.yml
nest-js-api/package-lock.json
nest-js-api/generate-keys.js
nest-js-api/.env
package-lock.json
nest-js-api/private.pem
nest-js-api/public.pem
nest-js-api/dist/**
python-fast-api/.env
python-fast-api/requirements.txt
python-fast-api/app/__pycache__/__init__.cpython-313.pyc
python-fast-api/app/__pycache__/config.cpython-313.pyc
python-fast-api/app/__pycache__/db.cpython-313.pyc
python-fast-api/app/__pycache__/deps.cpython-313.pyc
python-fast-api/app/__pycache__/main.cpython-313.pyc
python-fast-api/app/__pycache__/models.cpython-313.pyc
python-fast-api/app/__pycache__/schemas.cpython-313.pyc
python-fast-api/app/__pycache__/security.cpython-313.pyc
python-fast-api/app/routers/__pycache__/__init__.cpython-313.pyc
python-fast-api/app/routers/__pycache__/auth.cpython-313.pyc
python-fast-api/app/routers/__pycache__/orders.cpython-313.pyc
python-fast-api/app/routers/__pycache__/products.cpython-313.pyc

