nest-js-api/node_modules/**
nest-js-api/docker-compose.yml
nest-js-api/package-lock.json
nest-js-api/generate-keys.js
nest-js-api/.env
package-lock.json
nest-js-api/private.pem
nest-js-api/public.pem
nest-js-api/dist/**
